<div *ngIf="done==false">
  <ol>
    <app-question question={{question.question}} [answers]="question.answers" (onAnswer)="checkAnswer($event)">
    </app-question>
  </ol>

  <p>{{timeLeft}} Seconds Left....</p>
</div>

<div *ngIf="done">
  <div class="container">
    <div class="row align-items-start">
      You have completed the quiz!
    </div>
    <div class="row align-items-start">
      Total number of questions: {{questions_list.length}}
    </div>
    <div class="row align-items-start">
      Questions asked: {{index}}
    </div>
    <div class="row align-items-start">
      Total correct: {{correct}}
    </div>
    <div class="row align-items-start">
      Percent correct: {{percent|number:'1.2-2'}}
    </div>
    <div class="row align-items-start">
      Elapsed time: {{time-timeLeft}}
    </div>

  </div>

</div>